[Desktop Entry]
Name=Maish
Comment=Fast, beautiful desktop email client
Exec=maish
Icon=xyz.hochreiner.maish
Type=Application
Categories=Network;Email;
StartupWMClass=Maish
StartupNotify=true
